# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

array_ex?
cin_ex?
class_ex?
cout_ex?
datatype_ex?
except_ex?
farm
func_ex?
lambda_ex?
map_ex?
module_ex?
module_ex??
oper_overload_ex?
string_ex?
struct_ex?
switch_ex?
template_ex?
template_ex??
vector_ex?

# swap files
*.swp

# input/output data files
out*.txt
in*.txt

# excluded cpp files and their executables
sandbox*
test*
